# Dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/

# Environment variables
.env
.env.*
!.env.example

# Strapi
.cache/
.build/
dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Local databases
*.db
*.sqlite
*.sqlite3